@import './base.css';

#app {
  margin: 0;
  height: 100%;
  font-weight: normal;
}

.rounded-image {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%
}

p{
  color: #FFFFFF;
  font-family: "Arial";
  font-weight: 700
}

p.text-primary {
  color: #384FFE !important
}
p.text-secondary {
  color: #787C9D !important
}

h1.text-primary {
  color: #384FFE !important
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}